// @import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/bootstrap';
// @import '~bootswatch/dist/darkly/bootswatch';

.center-card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-span {
  color: #dc3545;
  text-align: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.toggle-btn {
  align-self: center;
  background-color: transparent;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.btn-light:hover {
  color: rgb(255, 255, 255);
  background-color: #fd7e14;
  border-color: #ffffff;
}

.taskItem {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  .toggle-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}

select {
  cursor: pointer;
}
